body { background: #23f31f; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 22px; display: flex; }
.block-sms-0 { color: #852b82; font-size: 20px; margin-bottom: 5px; }
.block-session-1 { color: #6f1d2d; font-size: 14px; margin-bottom: 5px; }
.block-uploader-2 { color: #373b8a; font-size: 15px; margin-bottom: 5px; }
.block-notify-3 { color: #1827d2; font-size: 12px; margin-bottom: 5px; }
.block-filter-4 { color: #e3ba1f; font-size: 21px; margin-bottom: 5px; }
.block-notify-5 { color: #8a903c; font-size: 13px; margin-bottom: 5px; }
.block-notify-6 { color: #76b088; font-size: 20px; margin-bottom: 5px; }
.block-email-7 { color: #3d7e00; font-size: 14px; margin-bottom: 5px; }
.block-shipping-8 { color: #669426; font-size: 20px; margin-bottom: 5px; }
.block-user-9 { color: #fad6bf; font-size: 15px; margin-bottom: 5px; }
.block-token-10 { color: #757bf6; font-size: 17px; margin-bottom: 5px; }
.block-session-11 { color: #7a996c; font-size: 14px; margin-bottom: 5px; }